img {
    width: 320px;
    height: 270px;
    display: block;
    margin-bottom: 40px;
}


hr {
    margin: 25px 0px;
    width: 400px;
}

button {
    padding: 8px;
    width: 120px;
    border-radius: 5px;
}

div {
    width: 80%;
    margin: 40px auto;
}

button:hover {
    cursor: pointer;
}

#edit-view {
    display: none;
}

.datepicker {
    position: relative;
    margin-bottom: 0px;
    margin-top: 0px;
}